body {
width: 855px;
margin: 0px;
padding: 0px;
color: black; 
}


.commentinput {
width: 285px;
float: left;
}

.comments {
width: 570px;
float: right;
}

.comments p:nth-child (even) {
background: yellow;
}

.comments p:nth-child (odd) {
background: purple;
}