body {
width: 855px;
margin: 0px;
padding: 0px;
}


.commentinput {
width: 285px;
float: left;
}

.comments {
width: 570px;
float: right;
overflow: auto;
}

.comments p:nth-child(even) {
background-color: Aqua;
}

.comments p:nth-child(odd) {
background-color: Aquamarine;
}