body {
width: 855px;
margin: 0px;
padding: 0px;
}


.commentinput {
width: 285px;
float: left;
}

.comments {
width: 570px;
float: right;
overflow: hidden;
}

.comments p:nth-child (even) {
background-color: #B89EB8;
}

.comments p:nth-child (odd) {
background-color: cyan;
}